.Card{
    width: 300px;
    height: 450px;
    margin:  0 20px;
    img{
        width: 300px;
        height: 300px;
        object-fit: contain;
        margin: 0;
    }
    
    .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        h3{
            font-size: 24px;
            margin: 0px;

        }
        .iconArrow{
            font-size: 25px;
            color: #0C96E2;
            :hover{
            transform: scale(1.2);
        }
        }
        button{
        border: none;
        background: transparent;
        outline: none;
        
    }
    }
    .desc{
        font-size: 16px;
        font-weight: 400;
        color: #667085;
        span{
            cursor: pointer;
            color: #0C96E2;
            font-size: 12px;
        }
    }
}