.nav{
    margin: 10px  10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
        width: 250px;
    }
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    padding: 0 7%;
    align-items: center;
}
@media(max-width:768px){
    .nav{
        display: flex;
        flex-direction: column;
        width: 90%;
        font-size: 90%;
        margin-bottom: 20px;
        /* margin-right: 20px; */
        a{
            margin-left: auto;
            padding: 0 4%;
        }
    }
}